@model ExceltoSqlTable.Models.ExcelDataModel

<h2>Upload Successful!</h2>
<p>File: @Path.GetFileName(Model.FilePath)</p>

<h3>Column Names:</h3>
<ul id="columnList"></ul>

<script>
        var columnNames = @Html.Raw(ViewBag.ColumnNames);

        var columnList = document.getElementById("columnList");
        columnNames.forEach(function (columnName) {
            var li = document.createElement("li");
            li.textContent = columnName;
            columnList.appendChild(li);
        });
</script>